* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* ::-webkit-scrollbar {
	display: none;
}

html {
	height: 100%;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: $font-family;
	background-color: $bg-color-medium-gray;
	overflow-x: hidden;
}
