.current-weather-container {
	width: 100%;
	height: 100%;

	@media (--laptop) {
		& .cwc-card {
			width: 90%;
			display: grid;
			grid-template-columns: 60% 40%;
			row-gap: 3.5rem;
			background: linear-gradient(to left, $color-secondary, $color-primary);
			border-radius: 0.5rem;
			box-shadow: 0 0.5rem 1rem 0 $bs-color-dark;
			margin: 0 auto;
			padding: 1rem;

			& .cwc-location-wrapper {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.25rem;

				& .cwc-location {
					font-size: 4rem;
					font-weight: 500;
					text-align: center;
					text-transform: uppercase;
					color: $color-white;
				}

				& .cwc-country {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					gap: 1rem;

					& .country-name {
						font-size: 1.5rem;
						font-weight: 200;
						font-style: italic;
						color: $color-white;
					}

					& .country-flag {
						width: 2.5rem;
					}
				}

				& .cwc-time {
					font-size: 1.5rem;
					font-style: italic;
					font-weight: 400;
					text-align: center;
					color: $color-yellow;
				}
			}

			& .condition-icon {
				grid-column: 2 / 3;
				grid-row: 1 / 3;
				display: flex;
				justify-content: center;
				align-items: center;

				& svg {
					width: 20rem;
					filter: drop-shadow(0.5rem 0.5rem 0.25rem $bs-color-dark);
					font-weight: bold;
					font-family: $font-family;

					& text:nth-of-type(1) {
						font-size: 0.875rem;
					}

					& text:nth-of-type(2) {
						font-size: 0.625rem;
					}
				}
			}

			& .cwc-data-wrapper {
				grid-column: 1 / 2;
				grid-row: 2 / 3;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 3rem;
				margin: 0 auto;

				& .cwc-uvi-icon {
					display: flex;
					justify-content: center;
					align-items: center;

					& svg {
						width: 7rem;
						transition: transform 0.3s ease;

						&:hover {
							transform: scale(1.35) translate(0px, -10px);
							cursor: grab;
						}

						& text:nth-of-type(1) {
							font-size: 1.375rem;
							font-weight: bold;
							font-family: $font-family-cursive;
						}

						& text:nth-of-type(2) {
							font-size: 0.625rem;
							font-family: $font-family-cursive;
						}
					}
				}

				& .cwc-humidity-wrapper {
					height: 7rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 0.5rem;
					border: 0.125rem solid $color-secondary;
					border-radius: 2rem;
					margin: 0 auto;
					padding: 0.5rem 0.75rem;
					transition: transform 0.3s ease;

					&:hover {
						transform: scale(1.35) translate(0px, -10px);
						cursor: grab;
					}

					& .cwc-humidity-label {
						font-size: 1.125rem;
						font-weight: 300;
						color: $color-white;
					}

					& .cwc-humidity {
						font-size: 1.5rem;
						font-weight: 600;
						color: $color-light-blue;
					}
				}

				& .cwc-wind-icon {
					display: flex;
					justify-content: center;
					align-items: center;

					& svg {
						width: 7rem;
						transition: transform 0.3s ease;

						&:hover {
							transform: scale(1.35) translate(0px, -10px);
							cursor: grab;
						}
					}
				}
			}
		}
	}
}

@media (--tablet-lg) {
	& .cwc-card {
		width: 95%;
		display: grid;
		grid-template-columns: 60% 40%;
		row-gap: 2.5rem;
		background: linear-gradient(to left, $color-secondary, $color-primary);
		border-radius: 0.5rem;
		box-shadow: 0 0.5rem 1rem 0 $bs-color-dark;
		padding: 1rem;
		margin: 0 auto;

		& .cwc-location-wrapper {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;

			& .cwc-location {
				font-size: 3.5rem;
				font-weight: 500;
				text-align: center;
				text-transform: uppercase;
				color: $color-white;
			}

			& .cwc-country {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				gap: 1rem;

				& .country-name {
					font-size: 1.5rem;
					font-weight: 200;
					font-style: italic;
					color: $color-white;
				}

				& .country-flag {
					width: 2.5rem;
				}
			}

			& .cwc-time {
				font-size: 1.5rem;
				font-style: italic;
				font-weight: 400;
				text-align: center;
				color: $color-yellow;
			}
		}

		& .condition-icon {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
			display: flex;
			justify-content: center;
			align-items: center;

			& svg {
				width: 18rem;
				filter: drop-shadow(0.5rem 0.5rem 0.25rem $bs-color-dark);
				font-weight: bold;
				font-family: $font-family;

				& text:nth-of-type(1) {
					font-size: 0.875rem;
				}

				& text:nth-of-type(2) {
					font-size: 0.625rem;
				}
			}
		}

		& .cwc-data-wrapper {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 2rem;
			margin: 0 auto;

			& .cwc-uvi-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				& svg {
					width: 6rem;
					transition: transform 0.3s ease;

					&:hover {
						transform: scale(1.35) translate(0px, -5px);
						cursor: grab;
					}

					& text:nth-of-type(1) {
						font-size: 1.375rem;
						font-weight: bold;
						font-family: $font-family-cursive;
					}

					& text:nth-of-type(2) {
						font-size: 0.625rem;
						font-family: $font-family-cursive;
					}
				}
			}

			& .cwc-humidity-wrapper {
				height: 6rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				border: 0.125rem solid $color-secondary;
				border-radius: 2rem;
				margin: 0 auto;
				padding: 0.5rem 0.75rem;
				transition: transform 0.3s ease;

				&:hover {
					transform: scale(1.35) translate(0px, -5px);
					cursor: grab;
				}

				& .cwc-humidity-label {
					font-size: 1.125rem;
					font-weight: 300;
					color: $color-white;
				}

				& .cwc-humidity {
					font-size: 1.25rem;
					font-weight: 600;
					color: $color-light-blue;
				}
			}

			& .cwc-wind-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				& svg {
					width: 6rem;
					transition: transform 0.3s ease;

					&:hover {
						transform: scale(1.35) translate(0px, -5px);
						cursor: grab;
					}
				}
			}
		}
	}
}

@media (--tablet-sm) {
	& .cwc-card {
		display: grid;
		grid-template-columns: 70% 30%;
		row-gap: 1rem;
		background: linear-gradient(to left, $color-secondary, $color-primary);
		border-radius: 0.5rem;
		box-shadow: 0 0.5rem 1rem 0 $bs-color-dark;
		padding: 1rem;

		& .cwc-location-wrapper {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;

			& .cwc-location {
				font-size: 3rem;
				font-weight: 500;
				text-align: center;
				text-transform: uppercase;
				color: $color-white;
			}

			& .cwc-country {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				gap: 1rem;

				& .country-name {
					font-size: 1.25rem;
					font-weight: 200;
					font-style: italic;
					color: $color-white;
				}

				& .country-flag {
					width: 2.25rem;
				}
			}

			& .cwc-time {
				font-size: 1.25rem;
				font-style: italic;
				font-weight: 400;
				text-align: center;
				color: $color-yellow;
			}
		}

		& .condition-icon {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			display: flex;
			justify-content: center;
			align-items: center;

			& svg {
				width: 15rem;
				filter: drop-shadow(0.5rem 0.5rem 0.25rem $bs-color-dark);
				font-weight: bold;
				font-family: $font-family;

				& text:nth-of-type(1) {
					font-size: 0.875rem;
				}

				& text:nth-of-type(2) {
					font-size: 0.625rem;
				}
			}
		}

		& .cwc-data-wrapper {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;

			& .cwc-uvi-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				& svg {
					width: 5rem;
					transition: transform 0.3s ease;

					&:hover {
						transform: scale(1.5) translate(-5px, 0px);
						cursor: grab;
					}

					& text:nth-of-type(1) {
						font-size: 1.375rem;
						font-weight: bold;
						font-family: $font-family-cursive;
					}

					& text:nth-of-type(2) {
						font-size: 0.625rem;
						font-family: $font-family-cursive;
					}
				}
			}

			& .cwc-humidity-wrapper {
				width: 5rem;
				height: 5rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				border: 0.125rem solid $color-secondary;
				border-radius: 2rem;
				margin: 0 auto;
				padding: 0.5rem 0.75rem;
				transition: transform 0.3s ease;

				&:hover {
					transform: scale(1.5) translate(-5px, 0px);
					cursor: grab;
				}

				& .cwc-humidity-label {
					font-size: 1.125rem;
					font-weight: 300;
					color: $color-white;
				}

				& .cwc-humidity {
					font-size: 1.25rem;
					font-weight: 600;
					color: $color-light-blue;
				}
			}

			& .cwc-wind-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				& svg {
					width: 5rem;
					transition: transform 0.3s ease;

					&:hover {
						transform: scale(1.5) translate(-5px, 0px);
						cursor: grab;
					}
				}
			}
		}
	}
}

@media (--mobile) {
	& .cwc-card {
		display: grid;
		grid-auto-rows: auto;
		row-gap: 2rem;
		background: linear-gradient(to left, $color-secondary, $color-primary);
		border-radius: 0.5rem;
		box-shadow: 0 0.5rem 1rem 0 $bs-color-dark;
		padding: 1rem;

		& .cwc-location-wrapper {
			grid-row: 1 / 2;
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			& .cwc-location {
				font-size: 2.5rem;
				font-weight: 500;
				text-align: center;
				text-transform: uppercase;
				color: $color-white;
			}

			& .cwc-country {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				gap: 0.75rem;

				& .country-name {
					font-size: 0.875rem;
					font-weight: 200;
					font-style: italic;
					color: $color-white;
				}

				& .country-flag {
					width: 1.625rem;
				}
			}

			& .cwc-time {
				font-size: 1.25rem;
				font-style: italic;
				font-weight: 400;
				text-align: center;
				color: $color-yellow;
			}
		}

		& .condition-icon {
			grid-row: 2 / 3;
			display: flex;
			justify-content: center;
			align-items: center;

			& svg {
				width: 18rem;
				filter: drop-shadow(0.5rem 0.5rem 0.25rem $bs-color-dark);
				font-weight: bold;
				font-family: $font-family;

				& text:nth-of-type(1) {
					font-size: 0.875rem;
				}

				& text:nth-of-type(2) {
					font-size: 0.625rem;
				}
			}
		}

		& .cwc-data-wrapper {
			grid-row: 3 / 4;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 2rem;
			margin: 1rem auto 0;

			& .cwc-uvi-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				& svg {
					width: 5rem;
					transition: transform 0.3s ease;

					&:hover {
						transform: scale(1.5) translate(0px, -10px);
						cursor: grab;
					}

					& text:nth-of-type(1) {
						font-size: 1.375rem;
						font-weight: bold;
						font-family: $font-family-cursive;
					}

					& text:nth-of-type(2) {
						font-size: 0.625rem;
						font-family: $font-family-cursive;
					}
				}
			}

			& .cwc-humidity-wrapper {
				width: 5rem;
				height: 5rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				border: 0.125rem solid $color-secondary;
				border-radius: 2rem;
				margin: 0 auto;
				padding: 0.5rem 0.75rem;
				transition: transform 0.3s ease;

				&:hover {
					transform: scale(1.5) translate(0px, -10px);
					cursor: grab;
				}

				& .cwc-humidity-label {
					font-size: 1.125rem;
					font-weight: 300;
					color: $color-white;
				}

				& .cwc-humidity {
					font-size: 1.25rem;
					font-weight: 600;
					color: $color-light-blue;
				}
			}

			& .cwc-wind-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				& svg {
					width: 5rem;
					transition: transform 0.3s ease;

					&:hover {
						transform: scale(1.5) translate(0px, -10px);
						cursor: grab;
					}
				}
			}
		}
	}
}
