@media (--laptop) {
	.forecast-container {
		width: 100%;
		height: 100%;

		& .fc-card {
			background: linear-gradient(
				to left,
				$bg-color-white,
				$bg-color-light-gray
			);
			border-radius: 0.5rem;
			box-shadow: 0 0.5rem 1rem 0 $bs-color-dark;
			padding: 1rem;

			& .fc-date {
				font-size: 1.5rem;
				font-weight: 600;
				text-align: center;

				outline: 2px dashed magenta;
			}

			& .fc-condition-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				outline: 2px dashed magenta;

				& svg {
					width: 7.5rem;
					filter: drop-shadow(0.5rem 0.5rem 0.25rem $bs-color-dark);

					& rect {
						stroke: $color-primary;
						stroke-width: 1;
					}
				}
			}

			& .fc-data-item {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 1rem;
				font-weight: 300;
				color: $color-primary;

				/* Sunrise */
				&:nth-of-type(3) {

					outline: 2px dashed magenta;
				}

				/* Sunset */
				&:nth-of-type(4) {

					outline: 2px dashed magenta;
				}

				/* High */
				&:nth-of-type(5) {

					outline: 2px dashed magenta;
				}

				/* Low */
				&:nth-of-type(6) {

					outline: 2px dashed magenta;
				}

				/* Rain */
				&:nth-of-type(7) {
					
					outline: 2px dashed magenta;
				}

				& .fc-api-info {
					font-size: 1.25rem;
					font-weight: 600;
					color: $color-light-blue;
				}
			}
		}
	}
}

@media (--tablet-lg) {
	.forecast-container {
		width: 100%;
		height: 100%;

		& .fc-card {
			background: linear-gradient(
				to left,
				$bg-color-white,
				$bg-color-light-gray
			);
			border-radius: 0.5rem;
			box-shadow: 0 0.5rem 1rem 0 $bs-color-dark;
			padding: 1rem;

			& .fc-date {
				font-size: 1.5rem;
				font-weight: 600;
				text-align: center;

				outline: 2px dashed magenta;
			}

			& .fc-condition-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				outline: 2px dashed magenta;

				& svg {
					width: 7.5rem;
					filter: drop-shadow(0.5rem 0.5rem 0.25rem $bs-color-dark);

					& rect {
						stroke: $color-primary;
						stroke-width: 1;
					}
				}
			}

			& .fc-data-item {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 1rem;
				font-weight: 300;
				color: $color-primary;

				/* Sunrise */
				&:nth-of-type(3) {

					outline: 2px dashed magenta;
				}

				/* Sunset */
				&:nth-of-type(4) {

					outline: 2px dashed magenta;
				}

				/* High */
				&:nth-of-type(5) {

					outline: 2px dashed magenta;
				}

				/* Low */
				&:nth-of-type(6) {

					outline: 2px dashed magenta;
				}

				/* Rain */
				&:nth-of-type(7) {
					
					outline: 2px dashed magenta;
				}

				& .fc-api-info {
					font-size: 1.25rem;
					font-weight: 600;
					color: $color-light-blue;
				}
			}
		}
	}
}

@media (--tablet-sm) {
	.forecast-container {
		width: 100%;
		height: 100%;

		& .fc-card {
			background: linear-gradient(
				to left,
				$bg-color-white,
				$bg-color-light-gray
			);
			border-radius: 0.5rem;
			box-shadow: 0 0.5rem 1rem 0 $bs-color-dark;
			padding: 1rem;

			& .fc-date {
				font-size: 1.5rem;
				font-weight: 600;
				text-align: center;

				outline: 2px dashed magenta;
			}

			& .fc-condition-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				outline: 2px dashed magenta;

				& svg {
					width: 7.5rem;
					filter: drop-shadow(0.5rem 0.5rem 0.25rem $bs-color-dark);

					& rect {
						stroke: $color-primary;
						stroke-width: 1;
					}
				}
			}

			& .fc-data-item {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 1rem;
				font-weight: 300;
				color: $color-primary;

				/* Sunrise */
				&:nth-of-type(3) {

					outline: 2px dashed magenta;
				}

				/* Sunset */
				&:nth-of-type(4) {

					outline: 2px dashed magenta;
				}

				/* High */
				&:nth-of-type(5) {

					outline: 2px dashed magenta;
				}

				/* Low */
				&:nth-of-type(6) {

					outline: 2px dashed magenta;
				}

				/* Rain */
				&:nth-of-type(7) {
					
					outline: 2px dashed magenta;
				}

				& .fc-api-info {
					font-size: 1.25rem;
					font-weight: 600;
					color: $color-light-blue;
				}
			}
		}
	}
}

@media (--mobile) {
	.forecast-container {
		width: 100%;
		height: 100%;

		& .fc-card {
			background: linear-gradient(
				to left,
				$bg-color-white,
				$bg-color-light-gray
			);
			border-radius: 0.5rem;
			box-shadow: 0 0.5rem 1rem 0 $bs-color-dark;
			padding: 1rem;

			& .fc-date {
				font-size: 1.5rem;
				font-weight: 600;
				text-align: center;

				outline: 2px dashed magenta;
			}

			& .fc-condition-icon {
				display: flex;
				justify-content: center;
				align-items: center;

				outline: 2px dashed magenta;

				& svg {
					width: 7.5rem;
					filter: drop-shadow(0.5rem 0.5rem 0.25rem $bs-color-dark);

					& rect {
						stroke: $color-primary;
						stroke-width: 1;
					}
				}
			}

			& .fc-data-item {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 1rem;
				font-weight: 300;
				color: $color-primary;

				/* Sunrise */
				&:nth-of-type(3) {

					outline: 2px dashed magenta;
				}

				/* Sunset */
				&:nth-of-type(4) {

					outline: 2px dashed magenta;
				}

				/* High */
				&:nth-of-type(5) {

					outline: 2px dashed magenta;
				}

				/* Low */
				&:nth-of-type(6) {

					outline: 2px dashed magenta;
				}

				/* Rain */
				&:nth-of-type(7) {
					
					outline: 2px dashed magenta;
				}

				& .fc-api-info {
					font-size: 1.25rem;
					font-weight: 600;
					color: $color-light-blue;
				}
			}
		}
	}
}
