@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$font-family: 'Open Sans', sans-serif;

$color-primary: hsl(263, 80%, 22%);
$color-secondary: hsl(219, 57%, 47%);
$color-white: hsl(0, 0%, 100%);
$color-red: hsl(0, 100%, 50%);
$color-light-red: hsl(9, 100%, 64%);
$color-light-blue: hsl(200, 100%, 50%);
$color-gray: hsl(0, 0%, 50%);
$color-dark-gray: hsl(0, 0%, 20%);
$color-yellow: hsl(60, 100%, 50%);

$bg-color-light-gray: hsl(0, 0%, 85%);
$bg-color-light-gray-transparent: hsla(0, 0%, 85%, 0.875);
$bg-color-green: hsl(120, 100%, 25%);
$bg-color-orange: hsl(39, 100%, 50%);
$bg-color-red: hsl(0, 100%, 50%);

$bs-color-light: hsla(0, 0%, 100%, 0.5);
$bs-color-medium: hsla(0, 0%, 50%, 0.5);
$bs-color-dark: hsla(0, 0%, 0%, 0.5);

@custom-media --laptop (width >= 1000px);
@custom-media --tablet-lg (750px <= width < 1000px);
@custom-media --tablet-sm (500px <= width < 750px);
@custom-media --mobile (width < 500px);
