@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');

$color-white: hsl(0, 0%, 100%);
$color-red: hsl(0, 100%, 50%);
$color-light-blue: hsl(200, 100%, 50%);

$bg-color-dark-transparent: hsla(0, 0%, 0%, 0.75);

$bs-color-medium: hsla(0, 0%, 65%, 0.45);
$bs-color-dark: hsla(0, 0%, 0%, 0.5);

$alert-box-shadow: 0.875rem 0.875rem 1.5rem 0.625rem $bs-color-medium,
	-0.875rem -0.875rem 1.5rem 0.625rem $bs-color-medium,
	-0.875rem 0.875rem 1.5rem 0.625rem $bs-color-medium,
	0.875rem -0.875rem 1.5rem 0.625rem $bs-color-medium;

@custom-media --laptop (width >= 1000px);
@custom-media --tablet-lg (750px <= width < 1000px);
@custom-media --tablet-sm (500px <= width < 750px);
@custom-media --mobile (width < 500px);
