@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* ::-webkit-scrollbar {
	display: none;
}

html {
	height: 100%;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

#root {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* HEADER */
header {
	height: clamp(4rem, 3rem + 4.444vw, 7rem);
	background: linear-gradient(to left, hsl(263, 80%, 22%), hsl(219, 57%, 47%));
}

.header-container {
	max-width: 90%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: clamp(0.25rem, 0rem + 1.111vw, 1rem);
}

.header-content {
	font-size: clamp(1.5rem, 1rem + 2.222vw, 3rem);
	font-weight: 500;
	letter-spacing: clamp(0.063rem, 0rem + 0.278vw, 0.25rem);
	text-transform: uppercase;
	color: hsl(0, 0%, 100%);
}

/* MAIN */
.main-container {
	margin: 0 auto;
	padding: 0 clamp(0.5rem, -0.167rem + 2.963vw, 2.5rem) 2rem;
}

/* MAIN → Search Section */
.search-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	border: 0.125rem solid hsl(211, 28%, 25%);
	border-radius: 0.5rem;
	margin: 0 auto;
	padding: 0.75rem;
}

.search-label {
	align-self: flex-start;
	font-weight: 600;
	color: hsl(211, 28%, 25%);
}

.search-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.search-form-input {
	width: 90%;
	color: hsl(262, 80%, 16%);
	border: 0.125rem solid hsl(219, 57%, 47%);
	border-radius: 0.5rem;
	padding: 0.75rem;
}

.search-form-input::placeholder {
	font-style: italic;
	color: hsl(0, 0%, 50%);
}

.search-form-btn {
	width: 90%;
	text-transform: uppercase;
	padding: 0.375rem 0;
	background-color: hsl(262, 80%, 16%);
	color: hsl(0, 0%, 95%);
	border: 0.25rem solid transparent;
	border-radius: 0.5rem;
	cursor: pointer;
}

.search-form-btn:hover {
	transition: all 0.5s ease-in-out;
	box-shadow: 0.5rem 0.5rem 1rem 0 hsla(0, 0%, 0%, 0.5);
}

.search-history {
	width: 100%;
	display: inline-block;
	position: relative;
	text-align: center;
}

.divider {
	width: 95%;
	border: 2px dashed transparent;
	border-top-color: hsl(262, 80%, 16%);
	margin: 0 auto 1.75rem;
}

.search-history-btn {
	width: 90%;
	color: hsl(0, 0%, 90%);
	background-color: hsl(262, 80%, 16%);
	border: 0.125rem solid transparent;
	border-radius: 0.5rem;
	padding: 0.625rem 0;
	cursor: pointer;
}

.search-history-btn:hover {
	transition: all 0.5s ease-in-out;
	color: hsl(262, 80%, 16%);
	background-color: hsl(0, 0%, 95%);
	border-color: hsl(219, 57%, 47%);
	box-shadow: 0.5rem 0.5rem 1rem 0 hsla(0, 0%, 0%, 0.5);
}

.search-history-list {
	width: 90%;
	max-height: 33vh;
	position: absolute;
	top: calc(100% + 0.25rem);
	left: 5%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: clamp(0.25rem, 0.083rem + 0.741vw, 0.75rem);
	background-color: hsla(0, 0%, 95%, 0.875);
	border: 0.125rem solid hsl(219, 57%, 47%);
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem 0 hsla(0, 0%, 0%, 0.5);
	padding: 0.75rem;
	overflow-y: scroll;
	z-index: 1;
}

.search-history-list-item-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 0.5rem;
}

.search-history-list-item {
	width: 85%;
	line-height: 1.5;
	text-align: left;
	color: hsl(262, 80%, 16%);
	border: 0.125rem solid transparent;
	border-radius: 0.5rem;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search-history-list-item::before {
	content: '▸ ';
}

.search-history-list-item:hover {
	border-color: hsl(262, 80%, 16%);
}

.search-history-delete-btn {
	fill: hsl(0, 0%, 35%);
	z-index: 1;
}

.search-history-delete-btn:hover {
	fill: hsl(9, 100%, 64%);
	cursor: pointer;
}

/* MAIN → Current Weather Section */
.current-weather-container {
	width: 100%;
	height: 100%;
}

.current-weather-card {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to left, hsl(219, 57%, 47%), hsl(262, 80%, 16%));
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem 0 hsla(0, 0%, 0%, 0.5);
}

.current-weather-card-header {
	width: 100%;
}

.current-weather-card-location {
	width: 100%;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	color: hsl(0, 0%, 90%);
}

.current-weather-card-date {
	font-style: italic;
	font-weight: 200;
	font-weight: 400;
	text-align: center;
	color: hsl(60, 100%, 50%);
}

.current-weather-card-icon {
	border: 0.125rem solid hsl(0, 0%, 90%);
	border-radius: 25%;
	box-shadow: 0 0.5rem 1rem 0 hsla(0, 0%, 90%, 0.5);
}

.current-weather-card-uvi-badge {
	font-weight: 600;
	border-radius: 50%;
	padding: 0.25rem 0.75rem;
}

.current-weather-card-data-label {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 300;
	color: hsl(0, 0%, 90%);
}

.current-weather-card-data {
	font-weight: 700;
	color: hsl(200, 100%, 50%);
}

/* MAIN → Forecast Section */
.forecast-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(0, 0%, 80%);
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem 0 hsla(0, 0%, 20%, 0.5);
}

.forecast-card-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.forecast-card-title {
	font-weight: 600;
}

.forecast-card-icon {
	border: 0.125rem solid hsl(262, 80%, 16%);
	border-radius: 25%;
	box-shadow: 0 0.5rem 1rem 0 hsla(0, 0%, 20%, 0.5);
}

.forecast-card-data-label {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.forecast-card-data {
	font-weight: 600;
	color: hsl(200, 100%, 50%);
}

.forecast-card-uvi-badge {
	font-weight: 600;
	border-radius: 0.5rem;
	padding: 0.25rem 0.75rem;
}

/* Miscellaneous */
.uvi-low {
	color: hsl(0, 0%, 100%);
	background-color: hsl(120, 100%, 25%);
}

.uvi-medium {
	color: hsl(0, 100%, 50%);
	background-color: hsl(39, 100%, 50%);
}

.uvi-high {
	color: hsl(60, 100%, 50%);
	background-color: hsl(0, 100%, 50%);
}

/* Media Queries */
/* → @media (width >= 1024px) */
@media (min-width: 1024px) {
	.main-container {
		display: grid;
		grid-template-columns: 4fr 6fr;
		column-gap: clamp(1.25rem, 0.635rem + 0.962vw, 1.5rem);
		row-gap: clamp(1.75rem, 1.135rem + 0.962vw, 2rem);
		place-items: center;
	}
	.search-container {
		grid-column: 1 / 2;
	}
	.search-label {
		font-size: clamp(1.375rem, 1.067rem + 0.481vw, 1.5rem);
		margin-left: 5%;
	}
	.search-form-input {
		font-size: clamp(1.25rem, 0.942rem + 0.481vw, 1.375rem);
	}
	.search-form-input::placeholder {
		font-size: clamp(1.125rem, 0.817rem + 0.481vw, 1.25rem);
	}
	.search-form-btn {
		font-size: clamp(1.25rem, 0.942rem + 0.481vw, 1.375rem);
	}
	.search-history-btn {
		font-size: clamp(1.375rem, 1.067rem + 0.481vw, 1.5rem);
	}
	.search-history-list-item {
		font-size: clamp(1.25rem, 0.942rem + 0.481vw, 1.375rem);
	}
	.search-history-list-item::before {
		font-size: clamp(1.375rem, 1.067rem + 0.481vw, 1.5rem);
	}
	.search-history-delete-btn {
		width: clamp(1.25rem, 0.942rem + 0.481vw, 1.375rem);
	}
	.current-weather-container {
		width: 100%;
		grid-column: 2 / 3;
	}
	.current-weather-card {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1.375rem;
	}
	.current-weather-card-header {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 1rem;
	}
	/* .current-weather-card-title-wrapper {
		gap: 0.625rem;
	} */
	.current-weather-card-location {
		font-size: 1.625rem;
	}
	.current-weather-card-date {
		font-size: 1.375rem;
	}
	.current-weather-card-icon {
		width: 7.125rem;
	}
	.current-weather-card-body {
		display: grid;
		grid-template-columns: 55% 45%;
		grid-template-rows: repeat(2, 1fr);
		column-gap: 0.5rem;
		row-gap: 1.375rem;
		place-items: center;
	}
	.current-weather-card-data-label {
		font-size: 1.375rem;
	}
	.current-weather-card-data {
		font-size: 1.5rem;
	}
	.current-weather-card-uvi-badge {
		font-size: 1.25rem;
	}
	.forecast-container {
		width: 100%;
		grid-column: 1 / 3;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(17.5%, 1fr));
		gap: 1.375rem;
	}
	.forecast-card {
		gap: 1rem;
		padding: 0.625rem;
	}
	.forecast-card-header {
		flex-direction: column;
		gap: 0.75rem;
	}
	.forecast-card-title {
		font-size: 1.75rem;
	}
	.forecast-card-icon {
		width: 3.5rem;
	}
	.forecast-card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.75rem;
	}
	.forecast-card-data-label {
		font-size: 1.375rem;
	}
	.forecast-card-data {
		font-size: 1.5rem;
	}
	.forecast-card-uvi-badge {
		font-size: 1.25rem;
		padding: 0.25rem 0.75rem;
	}
}

/* → @media (width >= 1280px) */
@media (min-width: 1280px) {
	.forecast-card-header {
		flex-direction: row;
	}
}

/* → @media (768px <= width < 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
	.main-container {
		display: grid;
		grid-template-columns: 4fr 6fr;
		column-gap: clamp(1rem, 0.25rem + 1.563vw, 1.25rem);
		row-gap: clamp(1.5rem, 0.75rem + 1.563vw, 1.75rem);
		place-items: center;
	}
	.search-container {
		grid-column: 1 / 2;
		gap: clamp(0.75rem, 0rem + 1.563vw, 1rem);
	}
	.search-label {
		font-size: clamp(1.25rem, 0.875rem + 0.781vw, 1.375rem);
		margin-left: 5%;
	}
	.search-form-input {
		font-size: clamp(1rem, 0.25rem + 1.563vw, 1.25rem);
	}
	.search-form-input::placeholder {
		font-size: clamp(0.875rem, 0.125rem + 1.563vw, 1.125rem);
	}
	.search-form-btn {
		font-size: clamp(1rem, 0.25rem + 1.563vw, 1.25rem);
	}
	.divider {
		margin-bottom: clamp(1.25rem, -0.25rem + 3.125vw, 1.75rem);
	}
	.search-history-btn {
		font-size: clamp(1.125rem, 0.375rem + 1.563vw, 1.375rem);
	}
	.search-history-list-item {
		font-size: clamp(1.125rem, 0.75rem + 0.781vw, 1.25rem);
	}
	.search-history-list-item::before {
		font-size: clamp(1.25rem, 0.875rem + 0.781vw, 1.375rem);
	}
	.search-history-delete-btn {
		width: clamp(1.125rem, 0.75rem + 0.781vw, 1.25rem);
	}
	.current-weather-container {
		/* width: 100%; */
		grid-column: 2 / 3;
	}
	.current-weather-card {
		/* display: flex; */
		/* flex-direction: column; */
		padding: 0.75rem;
	}
	.current-weather-card-header {
		display: grid;
		grid-template-columns: 70% 30%;
		grid-template-rows: repeat(3, auto);
		gap: 0;
		place-items: center;
	}
	/* .current-weather-card-title-wrapper {
		gap: 0.5rem;
	} */
	.current-weather-card-location {
		width: 100%;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		font-size: min(1.25rem, 70%);

		outline: solid red;
		}
	.current-weather-card-date {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		font-size: 1.375rem;
	}
	.current-weather-card-time {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		font-size: 1.125rem;
	}
	.current-weather-card-icon {
		grid-column: 2 / 3;
		grid-row: 1 / 4;
		width: clamp(7.375rem, 1.75rem + 11.719vw, 9.25rem);
	}
	.current-weather-card-body {
		display: grid;
		grid-template-columns: 55% 45%;
		grid-template-rows: repeat(2, 1fr);
		column-gap: 0.5rem;
		row-gap: 1.25rem;
		place-items: center;
	}
	.current-weather-card-data-label {
		font-size: 1.25rem;
	}
	.current-weather-card-data {
		font-size: 1.375rem;
	}
	.current-weather-card-uvi-badge {
		font-size: 1.125rem;
	}
	.forecast-container {
		grid-column: 1 / 3;
		width: 95%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
		gap: 1.75rem;
	}
	.forecast-card {
		gap: 1rem;
		padding: 0.625rem;
	}
	.forecast-card-header {
		flex-direction: column;
		gap: 0.75rem;
	}
	.forecast-card-title {
		font-size: 1.75rem;
	}
	.forecast-card-icon {
		width: 3.25rem;
	}
	.forecast-card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.75rem;
	}
	.forecast-card-data-label {
		font-size: 1.25rem;
	}
	.forecast-card-data {
		font-size: 1.375rem;
	}
	.forecast-card-uvi-badge {
		font-size: 1.125rem;
		padding: 0.125rem 0.5rem;
	}
	.forecast-card:first-child {
		grid-column: 1 / 3;
		gap: 1.75rem;
		padding: 1rem;
	}
	.forecast-card:first-child .forecast-card-header {
		flex-direction: row;
		gap: 3rem;
	}
	.forecast-card:first-child .forecast-card-title {
		font-size: 2.625rem;
	}
	.forecast-card:first-child .forecast-card-icon {
		width: 7rem;
	}
	.forecast-card:first-child .forecast-card-body {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		column-gap: 1.25rem;
		row-gap: 1.625rem;
		place-items: center;
	}
	.forecast-card:first-child .forecast-card-data-label {
		font-size: 1.5rem;
	}
	.forecast-card:first-child .forecast-card-data {
		font-size: 1.625rem;
	}
	.forecast-card:first-child .forecast-card-uvi-badge {
		font-size: 1.375rem;
		padding: 0.25rem 0.625rem;
	}
}

/* → @media (625px <= width < 768px) */
@media (min-width: 625px) and (max-width: 767px) {
	.main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	.search-container {
		width: 90%;
	}
	.search-label {
		font-size: clamp(1.375rem, 0.829rem + 1.399vw, 1.5rem);
		margin-left: 2.5%;
	}
	.search-form {
		width: 95%;
		flex-direction: row;
		gap: 0.75rem;
	}
	.search-form-input {
		flex: 1;
		font-size: clamp(1.125rem, 0.579rem + 1.399vw, 1.25rem);
	}
	.search-form-input::placeholder {
		font-size: clamp(1rem, 0.454rem + 1.399vw, 1.125rem);
	}
	.search-form-btn {
		height: 100%;
		flex: 0.5;
		font-size: clamp(1.125rem, 0.579rem + 1.399vw, 1.25rem);
		padding: 0.75rem 0;
	}
	.search-history-btn {
		font-size: clamp(1.375rem, 0.829rem + 1.399vw, 1.5rem);
	}
	.search-history-list-item {
		font-size: clamp(1.25rem, 0.704rem + 1.399vw, 1.375rem);
	}
	.search-history-list-item::before {
		font-size: clamp(1.375rem, 0.829rem + 1.399vw, 1.5rem);
	}
	.search-history-delete-btn {
		width: clamp(1.25rem, 0.704rem + 1.399vw, 1.375rem);
	}
	.current-weather-container {
		width: 90%;
	}
	.current-weather-card {
		padding: clamp(0.875rem, 0.329rem + 1.399vw, 1rem);
	}
	.current-weather-card-header {
		width: 100%;
		display: grid;
		grid-template-columns: 70% 30%;
		column-gap: 0;
		place-items: center;
	}
	/* .current-weather-card-title-wrapper {
		gap: clamp(0.625rem, 0.079rem + 1.399vw, 0.75rem);
	} */
	.current-weather-card-location {
		font-size: clamp(1.5rem, 0.954rem + 1.399vw, 1.625rem);
	}
	.current-weather-card-date {
		font-size: clamp(1.125rem, 0.579rem + 1.399vw, 1.25rem);
	}
	.current-weather-card-icon {
		width: clamp(7.5rem, 0.398rem + 18.182vw, 9.125rem);
	}
	.current-weather-card-body {
		display: grid;
		grid-template-columns: 55% 45%;
		grid-template-rows: repeat(2, 1fr);
		column-gap: 0;
		row-gap: clamp(1rem, 0.454rem + 1.399vw, 1.125rem);
		place-items: center;
	}
	.current-weather-card-data-label {
		font-size: clamp(1.375rem, 0.829rem + 1.399vw, 1.5rem);
	}
	.current-weather-card-data {
		font-size: clamp(1.5rem, 0.954rem + 1.399vw, 1.625rem);
	}
	.current-weather-card-uvi-badge {
		font-size: clamp(1.25rem, 0.704rem + 1.399vw, 1.375rem);
	}
	.forecast-container {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, auto);
		gap: clamp(1.25rem, 0.704rem + 1.399vw, 1.375rem);
	}
	.forecast-card {
		gap: clamp(1rem, 0.454rem + 1.399vw, 1.125rem);
		padding: clamp(0.5rem, -0.046rem + 1.399vw, 0.625rem);
	}
	.forecast-card:nth-child(2) {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
	.forecast-card:nth-child(3) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.forecast-card:nth-child(4) {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	.forecast-card:nth-child(5) {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}
	.forecast-card-header {
		flex-direction: column;
		gap: clamp(0.75rem, 0.204rem + 1.399vw, 0.875rem);
	}
	.forecast-card-title {
		font-size: clamp(1.625rem, 1.079rem + 1.399vw, 1.75rem);
	}
	.forecast-card-icon {
		width: clamp(3.375rem, 0.643rem + 6.993vw, 4rem);
	}
	.forecast-card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: clamp(0.625rem, 0.079rem + 1.399vw, 0.75rem);
	}
	.forecast-card-data-label {
		font-size: clamp(1.125rem, 0.579rem + 1.399vw, 1.25rem);
	}
	.forecast-card-data {
		font-size: clamp(1.25rem, 0.704rem + 1.399vw, 1.375rem);
	}
	.forecast-card-uvi-badge {
		font-size: clamp(1rem, 0.454rem + 1.399vw, 1.125rem);
		padding: 0.125rem 0.5rem;
	}
	.forecast-card:first-child {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		gap: clamp(1.75rem, 1.204rem + 1.399vw, 1.875rem);
		padding: clamp(0.75rem, 0.204rem + 1.399vw, 0.875rem);
	}
	.forecast-card:first-child .forecast-card-header {
		width: 100%;
		display: grid;
		grid-template-columns: 55% 45%;
		column-gap: 0;
		place-items: center;
	}
	.forecast-card:first-child .forecast-card-title {
		font-size: clamp(2.125rem, 1.579rem + 1.399vw, 2.25rem);
	}
	.forecast-card:first-child .forecast-card-icon {
		width: clamp(6rem, 1.083rem + 12.587vw, 7.125rem);
	}
	.forecast-card:first-child .forecast-card-body {
		width: 100%;
		display: grid;
		grid-template-columns: 55% 45%;
		grid-template-rows: repeat(2, 1fr);
		column-gap: 0;
		row-gap: clamp(1.5rem, 0.954rem + 1.399vw, 1.625rem);
		place-items: center;
	}
	.forecast-card:first-child .forecast-card-data-label {
		font-size: clamp(1.375rem, 0.829rem + 1.399vw, 1.5rem);
	}
	.forecast-card-data-label:first-child {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.forecast-card-data-label:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.forecast-card-data-label:nth-child(3) {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.forecast-card-data-label:last-child {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	.forecast-card:first-child .forecast-card-data {
		font-size: clamp(1.5rem, 0.954rem + 1.399vw, 1.625rem);
	}
	.forecast-card:first-child .forecast-card-uvi-badge {
		font-size: clamp(1.25rem, 0.704rem + 1.399vw, 1.375rem);
		padding: 0.25rem 0.625rem;
	}
}

/* → @media (428px <= width < 625px) */
@media (min-width: 428px) and (max-width: 624px) {
	.main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: clamp(1rem, -0.358rem + 6.038vw, 2rem);
	}
	.search-container {
		width: 92.5%;
	}
	.search-label {
		font-size: clamp(1.25rem, 0.978rem + 1.015vw, 1.375rem);
		margin-left: 2.5%;
	}
	.search-form {
		width: 95%;
		flex-direction: row;
		gap: 0.75rem;
	}
	.search-form-input {
		flex: 1;
		font-size: clamp(1rem, 0.728rem + 1.015vw, 1.125rem);
	}
	.search-form-input::placeholder {
		font-size: clamp(0.875rem, 0.603rem + 1.015vw, 1rem);
	}
	.search-form-btn {
		height: 100%;
		flex: 0.5;
		font-size: clamp(1rem, 0.728rem + 1.015vw, 1.125rem);
		padding: 0.75rem 0;
	}
	.search-history-btn {
		font-size: clamp(1.25rem, 0.978rem + 1.015vw, 1.375rem);
	}
	.search-history-list-item {
		font-size: clamp(1.125rem, 0.853rem + 1.015vw, 1.25rem);
	}
	.search-history-list-item::before {
		font-size: clamp(1.25rem, 0.978rem + 1.015vw, 1.375rem);
	}
	.search-history-delete-btn {
		width: clamp(1.125rem, 0.853rem + 1.015vw, 1.25rem);
	}
	.current-weather-container {
		width: 92.5%;
	}
	.current-weather-card {
		gap: 1.75rem;
		padding: 1.25rem;
	}
	.current-weather-card-header {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		row-gap: 1rem;
		column-gap: 2rem;
		place-items: center;
	}
	.current-weather-card-location {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		font-size: clamp(1.75rem, 1.207rem + 2.03vw, 2rem);
	}
	.current-weather-card-date {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		font-size: clamp(1.25rem, 0.707rem + 2.03vw, 1.5rem);
	}
	.current-weather-card-icon {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		justify-self: flex-end;
		width: clamp(7.25rem, 3.448rem + 14.213vw, 9rem);
	}
	.current-weather-card-uvi {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
		justify-self: flex-start;
		display: flex;
		align-items: center;
		gap: 0.75rem;
		font-size: clamp(1.5rem, 0.957rem + 2.03vw, 1.75rem);
		font-weight: 500;
		color: hsl(0, 0%, 90%);
	}
	.current-weather-card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.75rem;
	}
	.current-weather-card-data-label {
		font-size: clamp(1.25rem, -0.074rem + 5.882vw, 1.5rem);
	}
	.current-weather-card-data {
		font-size: clamp(1.5rem, 0.176rem + 5.882vw, 1.75rem);
	}
	.current-weather-card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
	.current-weather-card-data-label {
		font-size: clamp(1.5rem, 0.957rem + 2.03vw, 1.75rem);
	}
	.current-weather-card-data {
		font-size: clamp(1.75rem, 1.207rem + 2.03vw, 2rem);
	}
	.forecast-container {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
		gap: clamp(1.25rem, 0.707rem + 2.03vw, 1.5rem);
	}
	.forecast-card {
		gap: clamp(1rem, 0.457rem + 2.03vw, 1.25rem);
		padding: clamp(0.5rem, -0.043rem + 2.03vw, 0.75rem);
	}
	.forecast-card:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.forecast-card:nth-child(3) {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	.forecast-card:nth-child(4) {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	.forecast-card:last-child {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}
	.forecast-card-header {
		flex-direction: column;
		gap: clamp(0.75rem, 0.478rem + 1.015vw, 0.875rem);
	}
	.forecast-card-title {
		font-size: clamp(1.75rem, 1.478rem + 1.015vw, 1.875rem);
	}
	.forecast-card-icon {
		width: clamp(3.25rem, 0.534rem + 10.152vw, 4.5rem);
	}
	.forecast-card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: clamp(0.75rem, 0.478rem + 1.015vw, 0.875rem);
	}
	.forecast-card-data-label {
		font-size: clamp(1.375rem, 1.103rem + 1.015vw, 1.5rem);
	}
	.forecast-card-data {
		font-size: clamp(1.5rem, 1.228rem + 1.015vw, 1.625rem);
	}
	.forecast-card-uvi-badge {
		font-size: clamp(1.25rem, 0.978rem + 1.015vw, 1.375rem);
		padding: 0.125rem 0.5rem;
	}
	.forecast-card:first-child {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		gap: clamp(1.25rem, 0.978rem + 1.015vw, 1.375rem);
		padding: clamp(0.75rem, -0.336rem + 4.061vw, 1.25rem);
	}
	.forecast-card:first-child .forecast-card-header {
		width: 100%;
		display: grid;
		grid-template-columns: 55% 45%;
		gap: 0;
		place-items: center;
	}
	.forecast-card:first-child .forecast-card-title {
		font-size: clamp(2.25rem, 1.978rem + 1.015vw, 2.375rem);
	}
	.forecast-card:first-child .forecast-card-icon {
		width: clamp(6.375rem, 2.301rem + 15.228vw, 8.25rem);
	}
	.forecast-card:first-child .forecast-card-body {
		width: 100%;
		display: grid;
		grid-template-columns: 55% 45%;
		grid-template-rows: repeat(2, 1fr);
		column-gap: 0;
		row-gap: clamp(0.75rem, 0.478rem + 1.015vw, 0.875rem);
		place-items: center;
	}
	.forecast-card:first-child .forecast-card-data-label {
		font-size: clamp(1.5rem, 1.228rem + 1.015vw, 1.625rem);
		gap: clamp(0.875rem, 0.603rem + 1.015vw, 1rem);
	}
	.forecast-card-data-label:first-child {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.forecast-card-data-label:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.forecast-card-data-label:nth-child(3) {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.forecast-card-data-label:last-child {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	.forecast-card:first-child .forecast-card-data {
		font-size: clamp(1.625rem, 1.353rem + 1.015vw, 1.75rem);
	}
	.forecast-card:first-child .forecast-card-uvi-badge {
		font-size: clamp(1.375rem, 1.103rem + 1.015vw, 1.5rem);
		padding: 0.25rem 0.625rem;
	}
}

/* → @media (width < 428px) */
@media (max-width: 427px) {
	.main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: clamp(1rem, -0.358rem + 6.038vw, 2rem);
	}
	.search-container {
		width: 95%;
		gap: 0.5rem;
	}
	.search-label {
		font-size: clamp(1.125rem, 0.463rem + 2.941vw, 1.25rem);
		margin-left: 5%;
	}
	.search-form-input {
		font-size: clamp(1.125rem, 0.463rem + 2.941vw, 1.25rem);
	}
	.search-form-input::placeholder {
		font-size: clamp(1rem, 0.338rem + 2.941vw, 1.125rem);
	}
	.search-form-btn {
		font-size: clamp(1.125rem, 0.463rem + 2.941vw, 1.25rem);
	}
	.divider {
		margin-bottom: 1rem;
	}
	.search-history-btn {
		font-size: clamp(1.25rem, 0.588rem + 2.941vw, 1.375rem);
	}
	.search-history-list-item {
		font-size: clamp(1.125rem, 0.463rem + 2.941vw, 1.25rem);
	}
	.search-history-list-item::before {
		font-size: clamp(1.25rem, 0.588rem + 2.941vw, 1.375rem);
	}
	.search-history-delete-btn {
		width: clamp(1.125rem, 0.463rem + 2.941vw, 1.25rem);
	}
	.current-weather-container {
		width: 95%;
	}
	.current-weather-card {
		gap: 1.5rem;
		padding: 1rem;
	}
	.current-weather-card-header {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		row-gap: 0.75rem;
		column-gap: 1.75rem;
		place-items: center;
	}
	.current-weather-card-location {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		font-size: clamp(1.5rem, 0.176rem + 5.882vw, 1.75rem);
	}
	.current-weather-card-date {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		font-size: clamp(1rem, -0.324rem + 5.882vw, 1.25rem);
	}
	.current-weather-card-icon {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		justify-self: flex-end;
		width: clamp(5.75rem, -2.191rem + 35.294vw, 7.25rem);
	}
	.current-weather-card-uvi {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
		justify-self: flex-start;
		display: flex;
		align-items: center;
		gap: 0.75rem;
		font-size: clamp(1.25rem, -0.074rem + 5.882vw, 1.5rem);
		font-weight: 500;
		color: hsl(0, 0%, 90%);
	}
	.current-weather-card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.75rem;
	}
	.current-weather-card-data-label {
		font-size: clamp(1.25rem, -0.074rem + 5.882vw, 1.5rem);
	}
	.current-weather-card-data {
		font-size: clamp(1.5rem, 0.176rem + 5.882vw, 1.75rem);
	}
	.forecast-container {
		width: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: clamp(1.125rem, 0.463rem + 2.941vw, 1.25rem);
	}
	.forecast-card {
		width: 95%;
		gap: clamp(0.75rem, 0.088rem + 2.941vw, 0.875rem);
		padding: clamp(0.625rem, -0.037rem + 2.941vw, 0.75rem);
	}
	.forecast-card-header {
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 1.5fr;
		gap: 0;
		place-items: center;
	}
	.forecast-card-title {
		font-size: clamp(1.75rem, 1.088rem + 2.941vw, 1.875rem);
	}
	.forecast-card-icon {
		width: clamp(4.375rem, 0.404rem + 17.647vw, 5.125rem);
	}
	.forecast-card-body {
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 1.5fr;
		grid-template-rows: repeat(2, 1fr);
		column-gap: 0;
		row-gap: clamp(0.375rem, -0.287rem + 2.941vw, 0.5rem);
		place-items: center;
	}
	.forecast-card-data-label {
		font-size: clamp(1.25rem, 0.588rem + 2.941vw, 1.375rem);
	}
	.forecast-card-data-label:first-child {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.forecast-card-data-label:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.forecast-card-data-label:nth-child(3) {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.forecast-card-data-label:last-child {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	.forecast-card-data {
		font-size: clamp(1.375rem, 0.713rem + 2.941vw, 1.5rem);
	}
	.forecast-card-uvi-badge {
		font-size: clamp(1.125rem, 0.463rem + 2.941vw, 1.25rem);
		padding: 0.125rem 0.5rem;
	}
	.forecast-card:first-child {
		gap: clamp(0rem, -0.662rem + 2.941vw, 0.125rem);
		padding: clamp(0.75rem, -0.574rem + 5.882vw, 1rem);
	}
	.forecast-card:first-child .forecast-card-header {
		width: 100%;
		display: grid;
		grid-template-columns: 65% 35%;
		gap: 0;
		place-items: center;
	}
	.forecast-card:first-child .forecast-card-title {
		font-size: clamp(2.125rem, 1.463rem + 2.941vw, 2.25rem);
	}
	.forecast-card:first-child .forecast-card-icon {
		width: clamp(5.375rem, 0.081rem + 23.529vw, 6.375rem);
	}
	.forecast-card:first-child .forecast-card-body {
		width: 100%;
		display: grid;
		grid-template-columns: 65% 35%;
		grid-template-rows: repeat(3, 1fr);
		column-gap: 0;
		row-gap: clamp(0.625rem, -0.037rem + 2.941vw, 0.75rem);
		place-items: center;
	}
	.forecast-card:first-child .forecast-card-data-label {
		font-size: clamp(1.375rem, 0.713rem + 2.941vw, 1.5rem);
		gap: clamp(1rem, 0.338rem + 2.941vw, 1.125rem);
	}
	.forecast-card:first-child .forecast-card-data-label:first-child {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.forecast-card:first-child .forecast-card-data-label:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.forecast-card:first-child .forecast-card-data-label:nth-child(3) {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	.forecast-card:first-child .forecast-card-data-label:last-child {
		grid-column: 2 / 3;
		grid-row: 1 / 4;
		flex-direction: column;
		gap: clamp(0.625rem, -0.037rem + 2.941vw, 0.75rem);
	}
	.forecast-card:first-child .forecast-card-data {
		font-size: clamp(1.5rem, 0.838rem + 2.941vw, 1.625rem);
	}
	.forecast-card:first-child .forecast-card-uvi-badge {
		font-size: clamp(1.25rem, 0.588rem + 2.941vw, 1.375rem);
		padding: 0.25rem 0.625rem;
	}
}
